$version:                   201606121 !default;

/*bg color*/
$body-bg: #fff !default;

/*font-family*/
$fontStack: -apple-system-font, "Helvetica Neue", sans-serif;


/*color*/
$main-color: #f9221c !default; //网站主色调
$title-color: #333 !default; //标题颜色
$text-color: #aaa !default; //正文颜色
$light-color: #999 !default; //提示字体颜色


/*font-size*/
$main-font-size: 14px !default; //正文字体大小
$big-font-size: 32px !default; //大标题

/*layout*/


